body { /*background:url('/images/layout/background.png') top center;*/ font-size:12px; }
a { color:#00415f; }
h2 { font-size:14px; margin-bottom:15px; border-bottom:1px dotted #e0e0e0; font-weight:bold; }

/* For chrome */
input[type='text'] { margin:0px; }

/* General styles */
.clear { clear:both; display:block; height:0px; }
.separator-10 { padding:5px 0px; }
.shadow { -moz-box-shadow: 0px 2px 1px #e8e8e8; -webkit-box-shadow: 0px 2px 1px #e8e8e8; box-shadow: 0px 2px 1px #e8e8e8; }
td.td_number, th.td_number { text-align:right; }
.f-r { float:right; display:block; }
.f-l { float:left; display:block; }
h2.topped { margin-top:20px; }
/* Header */
.top_wrapper { background:#f1f1f1; padding:10px 0px; }
	.logo_top_link { display:block; margin:10px 0px 0px 20px; }
	.top_search_form { }
	.top_search_input_wrapper { background:#fff; border:1px solid; border-color: #9e9e9e #d4d4d4 #d4d4d4 #9e9e9e; padding:2px; float:left;  }
	.top_search_input { padding:8px 3px; display:block; float:left; border:none; width:350px; line-height:12px; }
	.top_search_link { width:119px; height:39px; background:url('/images/layout/search_top_button.png') top left no-repeat; text-indent:-9999px; display:block; float:right; text-decoration:none; }
/* Top menu */
#top_menu { margin:40px 0px 10px; }
	.top_menu_ul { list-style:none; float:left; margin:0px; position:relative; }
		.top_menu_ul li.tm_item { float:left; width:165px; margin-right:1px; }
		.top_menu_ul li.tm_item a.tm_link { display:block;   background:#f1f1f1; text-align:center; padding:8px 0px; color:#000; font-size:14px; text-transform:uppercase; text-decoration:none; height:20px; }
		.top_menu_ul li.tm_item a.tm_link:hover { background:#000000; color:#fff; }
		.top_menu_ul .tm_last  { width:168px!important; margin-right:0px!important; }
	.tm_sub_wrapper { display:none;  position:absolute; left:0px; top:36px; background:#000; padding:20px 0px; width:998px; border-top:2px solid #000000; }
		.tm_sub_wrapper ul { float:left; list-style:none; margin:0px 0px 0px 40px;  }
			.tm_sub_link { display:block; padding:3px 5px; color:#fff; text-decoration:none; width:140px; }
			.tm_sub_link:hover { text-decoration:underline; }
/*Search */
    #search_suggest { list-style:none; background:#fff; margin:0px; position:absolute; width:480px; border:1px solid #e7e7e7; }
		#search_suggest li { padding:2px 5px;}
			#search_suggest .ss_text { float:left; width:400px; display:block; font-size:14px; color:#1A1A1A; }
				.ss_additional { font-style:italic; font-size:11px; display:block; }
			#search_suggest .ss_thumb { float:right; width:60px; display:block; height:30px; }
			
/* Breadcrumbs */
.breadcrumbs_top { list-style:none; float:left; margin:15px 0px; }
	.breadcrumbs_top li { float:left; font-size:11px; }
		.breadcrumbs_top li a, .breadcrumbs_top li span{ padding:0px 3px; }
/* Home page */
	/* Popup menu */
		/* Brands */
		.popup_menu_wrapper { background:#f6f6f6; padding:20px 0px; }
			.popup_menu_wrapper ul { float:left; list-style:none; margin:0px 0px 0px 40px; }
			.popup_menu_link { display:block; padding:3px 5px; color:#1A1A1A; text-decoration:none; width:140px; }
			.popup_menu_link:hover { background:#515151; color:#fff; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
	/* Social block */
.hp_social_block { border-top:1px dashed #c8c8c8; padding-top:10px; }
	.hp_social_block_1 { padding:10px 20px 0px 0px; border-right:1px dashed #c8c8c8; }
	.hp_social_block_2 { padding:10px 20px 0px 20px; }
	.hp_social_block_3 { padding:10px 0px 0px 20px; border-left:1px dashed #c8c8c8;  }
/* Product info */
.product_info_wrapper { background:#fff; }
	h1.product_name { font-size:20px; font-weight:bold; margin-top:15px; border-bottom:1px dotted #e0e0e0; padding-bottom:10px; }
	/* Left Side */
	.p_left { padding:20px; }
	/* Right Side */
	.p_right { padding:20px 0px 20px 35px; background:url('/images/layout/separator_vertical_grey.png') top left no-repeat; }
		.p_best_price { background:#efffe4; color:#173a00; padding:5px 0px; }
		.p_color_sets_wrapper { margin-bottom:20px; }
		a.p_color_set_link { text-decoration:none; display:block; float:left; margin-right:2px; border:2px solid #fff; padding:1px; }
			a.p_color_set_link.selected { border:2px solid #1a1a1a; }
			a.p_color_set_link span { width:15px; height:7px; display:block; }
			
	/* Product prices in stores */
	table.store_prices { }
		.store_prices thead tr th { background:#fff; border-bottom:1px solid #e1e1e1; }
		.store_prices tbody tr td { padding:10px 5px; }
		.store_prices tbody tr.odd td { background:#f1f1f1; border-bottom:1px solid #e2e2e2; }
		.store_prices tbody tr.even td { background:#ffffff; border-bottom:1px solid #e2e2e2; }
		.store_prices tbody tr:hover td{ background:#f7f0d1;  }
			a.pt_store_name { font-size:14px; font-weight:bold; }
			a.pt_store_ratings_link { font-size:11px; display:block; float:left; margin-left:7px; }
			a.pt_total_price { font-size:16px; font-weight:bold; line-height:12px; }
			span.pt_base_price { font-size:12px; font-weight:bold; line-height:12px; }
			span.pt_shipping_tax { color:#4e4e4e; font-size:10px; }
			a.pt_coupon_code { background:#ffbe57; color:#000; padding:3px 5px; text-decoration:none;  font-size:10px; }
			span.pt_coupon_discount { color:#4e4e4e; font-size:10px; padding-left:5px;  }
	.temp_5_star { background:url('/images/layout/star_on_small.png') top left repeat-x; width:90px; height:17px; float:left; }
	
	
/* Product additional info */
	/* Product info */
	.product_information { list-style:none; float:left; margin:0px 40px 0px 0px; color:#7d7d7d; }
		.product_information li span { color:#000000; }
	/* Frames size */
	.frame_size_explain { float:left; margin-left:50px; }
	.p_frame_size_picture { width:200px; height:160px; background:url('/images/layout/frame_sizes.png') 0px 20px no-repeat; font-size:10px; }
		.p_frame_size_picture span { font-weight:bold; display:block; }
		.pfs_eye { padding-left:88px; padding-top:65px; }
		.pfs_temple { padding-left:10px;  }
		.pfs_bridge { padding-left:140px; }
	/* Features */
	.product_features { list-style:none; display:block; float:left; font-size:11px; margin:15px 40px 15px 40px; }	
		.product_features img { display:block; float:left; }
		.product_features p { float:left; width:240px; margin-left:5px; }
			.product_features p strong { display:block; }
		
.pagination{}
    .pagination span {margin-right: 10px;}
/*Page model description*/
.model_description{color:#665;}
    .model_description strong {color:#111;}


/* Corners */
/* All around cornered */
.c-normal { border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; }
.c-small { border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; }
.c-tiny { border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
/* Bottom cornered */
.cb-normal { -moz-border-radius-bottomleft: 7px; -moz-border-radius-bottomright: 7px; 
  border-bottom-left-radius:7px; border-bottom-right-radius:7px; 
  -webkit-border-bottom-left-radius: 7px; -webkit-border-bottom-right-radius: 7px;}
/* Top cornered */
.ct-normal { -moz-border-radius-topleft: 7px; -moz-border-radius-topright: 7px; 
  border-top-left-radius:7px; border-top-right-radius:7px; 
  -webkit-border-top-left-radius: 7px; -webkit-border-top-right-radius: 7px;}